{% extends "../base.html" %}
{% block content %}

<header class="food_head"></header>

<!-- Score grade food -->
<div class="image_food">
    <div class="name_image">{{ prod.product_name }}</div>
    <img class="" src="{{ prod.pictures }}">
</div>

<div class="box">
    <div class="container">
        <div class="row food_display">
            <div class="col-sm-12 col-md-6 box1_food_display">
                <div> Nutriscore</div>
                <div>{{ prod.score_grade }}</div>
            </div>

            <div class="col-sm-12 col-md-6 box1_food_display">
                <div> Repères nutrionnels pour 100 grammes</div>
                <div>{{ prod.nutrition_score_100 }}g</div>
            </div>

            <a href="{{ prod.link }}" class="button_card">Voir la fiche d'OpenFoodFacts</a>
        </div>
    </div>


</div>

{% endblock %}
