{% extends "../base.html" %}
{% if request.user.is_authenticated %}
  {% block content %}
  <!-- photo user -->
      <div class="box_user_image">
          <div class="container">
              <div class="image_user">
                  <div class="name_user">{{ request.user.username }}</div>
                  <img src="">
              </div>
          </div>
      </div>

  <!-- Infos User -->
      <div class="container content_user">
          <div class="mail">{{ request.user.email }}</div>

          <form class="" action="" method="post">
            {% csrf_token %}
            <button type="submit" class="button_subscribe_email" id="newsletter" name="button_subscribe_email">Je souhaite recevoir les newsletter</button>
          </form>
      </div>

  <!-- button email -->

  {% endblock %}
{% endif %}
